<div id="menu">
	<h1><i>&#128230;</i> My Lists</h1>
	<ul id="listHolder">
		<li ng-repeat="list in lists" ng-class='{active:activeListId==list.id}' ng-click="changeToList(list.id)">
			<i class="iconNormal">&#9656;</i>
			<i class="iconEdit">&#9998;</i><p editable-text="list.name" onbeforesave="validateText($data)" onaftersave="updateList(list, $data)">{{list.name}}</p>
			<span class="todoLeft">{{list.todo.length}}</span>
			<i class="todoRemove" ng-click="removeList(list); $event.stopPropagation();" ng-hide="listCount==1">&#10006;</i>
		</li>
	</ul>
	<div class="button"><i>&oplus;</i><input ng-class="{'notValid':defaultAddNewListNotValid}" ng-model="defaultAddNewList" type="text" placeholder="Add a new list" ui-keypress="{13:'addList($event)'}" /></div>
</div>
<div id="content">
	<form id="addNewTask">
		<label><i>&#10002;</i><span>Add new task</span></label>
		<input type="text" placeholder="Add a new task to your list" ng-class="{'notValid':defaultAddNewTaskNotValid}" ui-keypress="{13:'addTask($event)'}" ng-model="defaultAddNewTask"/>
	</form>
	<div ng-hide="activeList.todo.length==0">
		<h4>Todo:</h4>
		<ul id="todoListHolder">
			<li ng-repeat="todo in activeList.todo track by $index" class="repeat-item">
				<form>
					<input id="todo_{{$id}}" type="checkbox" name="todo_{{$id}}" ng-true-value="1" ng-false-value="0" ng-model="todo.completed" ng-change="updateTask(todo)" >
					<label for="todo_{{$id}}"><span class="checkbox">&nbsp;</span>{{todo.task}}</label>
					<i class="taskRemove" ng-click="removeTask(todo)">&#10006;</i>
				</form>
			</li>
		</ul>
	</div>
	<div ng-show="activeList.todo.length==0" id="noToDo">
		<p>Yay, no stuff to do!</p><br><p id="sub">- But, you can also add some more work!</p>
	</div>
	<div ng-hide="activeList.completed.length==0">
		<h4>Completed:</h4>
		<ul id="completedListHolder">
			<li ng-repeat="completed in activeList.completed track by $index" class="repeat-item">
				<form>
					<input id="completed_{{$id}}" type="checkbox" name="completed_{{$id}}" ng-true-value="0" ng-false-value="1" ng-model="completed.completed" ng-change="updateTask(completed)" checked="checked" />
					<label for="completed_{{$id}}"><span class="checkbox">&nbsp;</span><span class="strikeTrough">{{completed.task}}</span></label>
					<i class="taskRemove" ng-click="removeTask(completed)">&#10006;</i>
				</form>
			</li>
		</ul>
	</div>
</div>
