body, html {
  min-height: 100%;
  font-family: 'Marine';
  background-color: #F7F9FC; }

#menu {
  float: left;
  background-color: #425E70;
  width: 270px;
  min-height: 100%; }
  #menu i {
    font-family: 'Entypo';
    font-style: normal; }
  #menu h1 {
    padding-left: 20px;
    padding-bottom: 50px;
    font-size: 20px;
    color: #D6E0E5; }
    #menu h1 i {
      font-size: 39px;
      position: relative;
      top: 3px;
      padding-right: 20px; }
  #menu ul {
    padding-left: 20px; }
    #menu ul li {
      color: #C5C7C9;
      font-size: 17px;
      padding: 12px 0;
      cursor: pointer;
      position: relative; }
      #menu ul li .todoLeft {
        position: absolute;
        right: 13px;
        top: 22px; }
      #menu ul li i {
        font-size: 30px;
        position: relative;
        top: 2px;
        margin: 0px 25px 0px 10px; }
      #menu ul li .iconEdit, #menu ul li .todoRemove {
        display: none; }
      #menu ul li:hover, #menu ul li.active {
        color: #425E70;
        font-family: 'Marine-Bold';
        background: #F7F9FC; }
        #menu ul li:hover .iconEdit, #menu ul li.active .iconEdit {
          display: inline;
          margin: 0px 22px 0px 10px; }
        #menu ul li:hover .todoRemove, #menu ul li.active .todoRemove {
          display: inline;
          position: absolute;
          right: 3px;
          margin: 13px 6px 0px 0px;
          color: #94A1A8; }
          #menu ul li:hover .todoRemove:hover, #menu ul li.active .todoRemove:hover {
            color: #EF150A; }
        #menu ul li:hover .iconNormal, #menu ul li:hover .todoLeft, #menu ul li.active .iconNormal, #menu ul li.active .todoLeft {
          display: none; }
  #menu div.button {
    margin-top: 50px;
    text-decoration: none;
    display: block;
    min-width: 100%;
    background-color: #2F414F;
    padding: 12px 0;
    text-align: left;
    color: #425E70;
    font-size: 20px; }
    #menu div.button i {
      font-size: 30px;
      position: relative;
      top: 2px;
      margin: 0px 25px 0px 20px; }
    #menu div.button:hover {
      color: #4A6C7F; }
    #menu div.button input {
      color: #5F8599;
      font-size: 20px;
      border: none;
      background: none;
      height: 30px;
      text-indent: 0px;
      width: calc(100% - 100px); }
      #menu div.button input:focus {
        outline: none; }
      #menu div.button input.notValid {
        border-bottom: solid 1px #f8ac27; }
    #menu div.button ::-webkit-input-placeholder {
      color: #425E70; }
    #menu div.button :-moz-placeholder {
      color: #425E70; }
    #menu div.button ::-moz-placeholder {
      color: #425E70; }
    #menu div.button :-ms-input-placeholder {
      color: #425E70; }

#content {
  float: left;
  min-width: calc(100% - 270px); }
  #content i {
    font-family: 'Entypo';
    font-style: normal; }
  #content #addNewTask {
    background-color: #EDEEEF;
    min-width: 100%;
    color: #5F8599; }
    #content #addNewTask i {
      font-size: 39px;
      margin: 0px 0px 0px 30px;
      position: relative;
      top: 4px; }
    #content #addNewTask label > span {
      display: none; }
    #content #addNewTask input {
      color: #5F8599;
      font-size: 20px;
      border: none;
      background: none;
      height: 70px;
      text-indent: 20px;
      width: calc(100% - 100px); }
      #content #addNewTask input:focus {
        outline: none; }
      #content #addNewTask input.notValid {
        border-bottom: solid 1px #f8ac27; }
  #content h4 {
    font-size: 14px;
    color: #2F414F;
    margin: 30px 0 14px 20px; }
  #content #todoListHolder li, #content #completedListHolder li {
    position: relative; }
    #content #todoListHolder li .taskRemove, #content #completedListHolder li .taskRemove {
      cursor: pointer;
      display: none;
      font-size: 25px;
      position: absolute;
      top: -4px;
      margin-left: 5px;
      color: #94A1A8; }
      #content #todoListHolder li .taskRemove:hover, #content #completedListHolder li .taskRemove:hover {
        color: #EF150A; }
  #content #todoListHolder li:hover .taskRemove, #content #completedListHolder li:hover .taskRemove {
    display: inline; }
  #content #noToDo p {
    color: #3E5B76;
    font-size: 40px;
    margin: 30px 20px 0px 20px; }
  #content #noToDo #sub {
    color: #3E5B76;
    font-size: 15px;
    margin: 0px 20px 0px 20px; }
  #content #todoListHolder {
    margin-left: 20px; }
    #content #todoListHolder li {
      color: #7FB5D3;
      font-size: 18px;
      margin-bottom: 15px; }
      #content #todoListHolder li input[type="checkbox"] {
        display: none; }
      #content #todoListHolder li span.checkbox {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 7px; }
      #content #todoListHolder li input[type=checkbox]:checked + label span.checkbox,
      #content #todoListHolder li input[type=checkbox]:focus + label span.checkbox {
        background: url("../images/checkbox_spritesheet.png") 0px 0px no-repeat; }
      #content #todoListHolder li input[type=checkbox] + label span.checkbox {
        background: url("../images/checkbox_spritesheet.png") 0px -36px no-repeat; }
      #content #todoListHolder li input[type=checkbox] + label:hover span.checkbox {
        background: url("../images/checkbox_spritesheet.png") 0px -18px no-repeat; }
      #content #todoListHolder li span.strikeTrough {
        text-decoration: line-through; }
  #content #completedListHolder {
    margin-left: 20px; }
    #content #completedListHolder li {
      color: #D1D2D3;
      font-size: 18px;
      margin-bottom: 15px; }
      #content #completedListHolder li input[type="checkbox"] {
        display: none; }
      #content #completedListHolder li span.checkbox {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 7px; }
      #content #completedListHolder li input[type=checkbox]:checked + label span.checkbox {
        background: url("../images/checkbox_spritesheet.png") -18px -36px no-repeat; }
      #content #completedListHolder li input[type=checkbox] + label span.checkbox {
        background: url("../images/checkbox_spritesheet.png") -18px 0px no-repeat; }
      #content #completedListHolder li input[type=checkbox] + label:hover span.checkbox {
        background: url("../images/checkbox_spritesheet.png") -18px -18px no-repeat; }
      #content #completedListHolder li span.strikeTrough {
        text-decoration: line-through; }

[ng-cloak] {
  display: none; }

/* Animations */
/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity: 0; }

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity: 1; }
