/*!
angular-xeditable - 0.1.8
Edit-in-place for angular.js
Build date: 2014-01-10 
*/
.editable-wrap{display:inline-block !important;white-space:nowrap;margin:0}.editable-wrap .editable-controls,.editable-wrap .editable-error{margin-bottom:0}.editable-wrap .editable-controls>input,.editable-wrap .editable-controls>select,.editable-wrap .editable-controls>textarea{margin-bottom:0}.editable-wrap .editable-input{display:inline-block}.editable-buttons{display:inline-block;vertical-align:top}.editable-buttons button{margin-left:5px}.editable-input.editable-has-buttons{width:100px}.editable-bstime .editable-input input[type=text]{width:46px}.editable-bstime .well-small{margin-bottom:0;padding:10px}.editable-range output{display:inline-block;min-width:30px;vertical-align:top;text-align:center}.editable-color input[type=color]{width:50px}.editable-checkbox label span,.editable-checklist label span,.editable-radiolist label span{margin-left:7px;margin-right:10px}.editable-hide{display:none!important}.editable-click:hover,a.editable-click:hover{text-decoration:none;color:#5F8599;border-bottom-color:#2a6496,cursor:pointer;}.editable-empty,.editable-empty:hover,.editable-empty:focus,a.editable-empty,a.editable-empty:hover,a.editable-empty:focus{text-decoration:none}.editable{display:inline;}.glyphicon:before{cursor:pointer;font-family:'Entypo';font-size:25px;color:#94A1A8;}button:hover .glyphicon:before{color:#6e7e87;}.glyphicon-ok:before{content:'\2713';}.glyphicon-remove:before{content:'\274C';}.editable-wrap button{border:none;background:transparent;margin-top:-5px;}.editable-wrap input:focus{outline:none;}.editable-error{font-size: 10px;position: absolute;top: 41px;}