/**
 * Font import file for ToDo app
 * Author: Stephen Bouckaert (stephenbouckaert.com)
 * Created: 10/12/2014
 * Last modified: 10/12/2014
  */
  
/**
 * @license
 * MyFonts Webfont Build ID 2812560, 2014-05-15T11:36:29-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Marine Bold by TipoType
 * URL: http://www.myfonts.com/fonts/tipotype/marine/bold/
 * 
 * Webfont: Mariné Light by TipoType
 * URL: http://www.myfonts.com/fonts/tipotype/marine/light/
 * 
 * Webfont: Mariné  by TipoType
 * URL: http://www.myfonts.com/fonts/tipotype/marine/regular/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2812560
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2013 by Mart&#x00ED;n Sommaruga. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2aea90");

  
@font-face {font-family: 'Marine-Bold';src: url('../fonts/marine/2AEA90_0_0.eot');src: url('../fonts/marine/2AEA90_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/marine/2AEA90_0_0.woff') format('woff'),url('../fonts/marine/2AEA90_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Marine-Light';src: url('../fonts/marine/2AEA90_1_0.eot');src: url('../fonts/marine/2AEA90_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/marine/2AEA90_1_0.woff') format('woff'),url('../fonts/marine/2AEA90_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Marine';src: url('../fonts/marine/2AEA90_2_0.eot');src: url('../fonts/marine/2AEA90_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/marine/2AEA90_2_0.woff') format('woff'),url('../fonts/marine/2AEA90_2_0.ttf') format('truetype');}

@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo/entypo.eot');
  src: url('../fonts/entypo/entypo.eot@#iefix')
  format("embedded-opentype"), url('../fonts/entypo/entypo.woff')
  format("woff"), url('../fonts/entypo/entypo.ttf')
  format("truetype"), url('../fonts/entypo/entypo.svg#entypo') format("svg");
  font-weight: normal;
  font-style: normal;
}