body, html{
	min-height: 100%;
	font-family: 'Marine';
	background-color: #F7F9FC;
}
#menu{
	float: left;
	background-color: #425E70;
	width: 270px;
	min-height: 100%;
	i{
		font-family: 'Entypo';
		font-style: normal;
	}
	h1{
		i{
			font-size: 39px;
			position: relative;
			top:3px;
			padding-right: 20px;
		}
		padding-left: 20px;
		padding-bottom: 50px;
		font-size: 20px;
		color: #D6E0E5;
	}
	ul{
		padding-left: 20px;
		li{
			color: #C5C7C9;
			font-size: 17px;
			padding: 12px 0;
			cursor: pointer;
			position: relative;
			.todoLeft{
				position: absolute;
				right: 13px;
				top: 22px;
			}
			i{
				font-size: 30px;
				position: relative;
				top: 2px;
				margin: 0px 25px 0px 10px;
			}
			.iconEdit, .todoRemove{
				display: none;
			}
			&:hover, &.active{
				color: #425E70;
				font-family: 'Marine-Bold';
				background: #F7F9FC;
				.iconEdit{
					display: inline;
					margin: 0px 22px 0px 10px;
				}
				.todoRemove{
					display: inline;
					position: absolute;
					right: 3px;
					margin: 13px 6px 0px 0px;
					color: #94A1A8;
					&:hover{
						color: #EF150A;
					}
				}
				.iconNormal, .todoLeft{
					display: none;
				}
			}
		}
	}
	div.button{
		margin-top: 50px;
		text-decoration: none;
		display: block;
		min-width: 100%;
		background-color: #2F414F;
		padding: 12px 0;
		text-align: left;
		color: #425E70;
		font-size: 20px;
		i{
			font-size: 30px;
			position: relative;
			top: 2px;
			margin: 0px 25px 0px 20px;
		}
		&:hover{
			color: #4A6C7F;
		}
		input{
			color: #5F8599;
			font-size: 20px;
			border: none;
			background: none;
			height: 30px;
			text-indent: 0px;
			width: calc(100% - 100px);
			&:focus{
				outline: none;
			}
			
			&.notValid{
				border-bottom: solid 1px #f8ac27;
			}
		}
		::-webkit-input-placeholder{
			color:#425E70;
		}
		:-moz-placeholder{
			color:#425E70;
		}
		::-moz-placeholder{
			color:#425E70;
		}
		:-ms-input-placeholder{
			color: #425E70;
		} 
	}
}
#content{
	float: left;
	min-width: calc(100% - 270px);
	i{
		font-family: 'Entypo';
		font-style: normal;
	}
	#addNewTask{
		background-color: #EDEEEF;
		min-width: 100%;
		color: #5F8599;
		i{
			font-size: 39px;
			margin: 0px 0px 0px 30px;
			position: relative;
			top: 4px;
		}
		label > span{
			display: none;
		}
		input{
			color: #5F8599;
			font-size: 20px;
			border: none;
			background: none;
			height: 70px;
			text-indent: 20px;
			width: calc(100% - 100px);
			&:focus{
				outline: none;
			}
			&.notValid{
				border-bottom: solid 1px #f8ac27;
			}
		}
	}
	h4{
		font-size: 14px;
		color: #2F414F;
		margin: 30px 0 14px 20px;
	}
	#todoListHolder, #completedListHolder{
		li{
			position: relative;
			.taskRemove{
				cursor: pointer;
				display: none;
				font-size: 25px;
				position: absolute;
				top: -4px;
				margin-left: 5px;
				color: #94A1A8;
				&:hover{
					color: #EF150A;
				}
			}
		}
		li:hover{
			.taskRemove{
				display: inline;
			}
		}
	}
	#noToDo{
		p{
			color: #3E5B76;
			font-size: 40px;
			margin: 30px 20px 0px 20px;
		}
		#sub{
			color: #3E5B76;
			font-size: 15px;
			margin: 0px 20px 0px 20px;
		}
	}
	#todoListHolder{
		margin-left: 20px;
		li{
			color: #7FB5D3;
			font-size: 18px;
			margin-bottom: 15px;
			input[type="checkbox"]{
				display:none;
			}
			span.checkbox{
				display: inline-block;
				width: 18px;
				height: 18px;
				margin-right: 7px;
			}
			input[type=checkbox]:checked + label span.checkbox,
			input[type=checkbox]:focus + label span.checkbox{
				background: url('../images/checkbox_spritesheet.png') 0px 0px no-repeat;
			}
			input[type=checkbox] + label span.checkbox{
				background: url('../images/checkbox_spritesheet.png') 0px -36px no-repeat;
			}
			input[type=checkbox] + label:hover span.checkbox{
				background: url('../images/checkbox_spritesheet.png') 0px -18px no-repeat;
			}
			span.strikeTrough{
				text-decoration: line-through;
			}
		}
	}
	#completedListHolder{
		margin-left: 20px;
		li{
			color: #D1D2D3;
			font-size: 18px;
			margin-bottom: 15px;
			input[type="checkbox"]{
				display:none;
			}
			span.checkbox{
				display: inline-block;
				width: 18px;
				height: 18px;
				margin-right: 7px;
			}
			input[type=checkbox]:checked + label span.checkbox{
				background: url('../images/checkbox_spritesheet.png') -18px -36px no-repeat;
			}
			input[type=checkbox] + label span.checkbox{
				background: url('../images/checkbox_spritesheet.png') -18px 0px no-repeat;
			}
			input[type=checkbox] + label:hover span.checkbox{
				background: url('../images/checkbox_spritesheet.png') -18px -18px no-repeat;
			}
			span.strikeTrough{
				text-decoration: line-through;
			}
		}
	}
}
[ng-cloak]{
	display: none;
}
/* Animations */
/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}